body{
    background-color: #0693ff;
    color: white;
}

.header {
    border: 1px dotted blue;
}

    .container {
        border: 1px dotted red;
        display: flex;
        justify-content: space-between;
    }

/** Main */
/** Footer */

