@import url('https://fonts.googleapis.com/css2?family=Alice&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');


:root {
    --charleston-green: #23262F;
    --slate-grey: #777e90;
    --cadet-blue: #b1b5c3;
    --bright-gray: #e6e8ec;
    --cultured: #f5f6fa;
    --lotion: #fcfcfd;

    --islamic-green: #04b90b;
    --aero-blue: #d3f9d5;
    --light-coral: #ea8484;
    --lavender-blush: #fcf1f1;

    --green-blue: #106aab;
    --alice-blue: #f1f7fc;
    --dark-pink: #f25178;
    --misty-rose: #fce5e9;
    --blue-violet: #8d31e9;
    --magnolia: #f6eefd;
    --gamboge: #da9f0a;
    --cornsilk: #fcf6d8;
    --light-sea-green: #26aca0;
    --azure: #edfcfb;

    --over-font-size: 62.5%;
}


html {
    font-size: var(--over-font-size);
    /** IMPORTANTE GUARDAR PARA TODO PROYECTO */
}

html,
body {
    /* height: 100%; */
    margin: 0;
}


body {
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: var(--lotion);
}

h1 {
    line-height: 1.6;
    margin: 0
}

h1,
h2 {
    font-size: 3.2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Alice", serif;
    font-weight: 400;
    font-style: normal;
    color: var(--charleston-green);
}




h2 span {
    color: var(--islamic-green);
}

h3 span {
    color: var(--islamic-green);
}

a {
    text-decoration: none;
}

p {
    color: var(--slate-grey);
    line-height: 1.6;
    display: flex;
    flex-direction: row;
    line-height: 1.6;
}

.header {
    border: 1px dotted blue;
}

.container {
    border: 1px dotted red;
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 96vw;
    padding: 0 0.8rem;
    text-align: center;
}

.container-fluid {
    border: 1px solid rgb(27, 198, 15);
    box-sizing: border-box;
    margin: 0;
    max-width: 100vw;
    padding: 0;
}

.container.questions-container {
    padding: 0;
}

.menu-main {
    display: none;
}

.nav-navbar {
    align-items: center;
    display: flex;
    height: 4.4rem;
    justify-content: space-between;
}

.menu__link {
    color: #777E90;
    /* text-decoration: none; */
}

.active {
    color: var(--islamic-green);
}

.btn {
    padding: 1rem 1rem;
    border-radius: 1.2rem;
    display: block;
}

.btn--light-green {
    background-color: var(--islamic-green);
    color: #FFFFFF;
    /* text-decoration: none; */
    text-transform: uppercase;
    width: 10rem;
    margin: 0 auto;
}


.btn-non-block {
    display: unset;
}

.btn-non-block.btn-explore {
    display: none;
}

.btn-explore {
    color: var(--islamic-green);
    /* text-decoration: none; */

}


/** main */
main {
    flex-grow: 1;
}

.question-1 {
    text-align: center;
    padding: 0 5rem;
}

.question-1 p {
    color: var(--slate-grey);
    line-height: 1.6;
    padding-bottom: 1rem;
}

.question-2 {
    padding-top: 2rem;
}


.question-2 .img-ramen {
    width: 100%;
}


/* footer*/


.menu-footer {
    display: flex;
    justify-content: space-between;
}

.widget {
    margin: 4rem 0;
}

.widget-left {
    text-align: center;
}

details {
    border-radius: 4px;
    border: 1px solid #aaaaaa;
    flex: 1;
    padding: 0.5em 0.5em 0;
}

summary {
    font-weight: bold;
    margin: -0.5em -0.5em 0;
    padding: 0.5em;
}

details[open] {
    padding: 0.5em;
}

details[open] summary {
    border-bottom: 1px solid #aaaaaa;
    margin-bottom: 0.5em;
}

.container-image-chef,
.container-text {
    flex: 1 0 50%;
}

.container-text {
    text-align: left;
}


.img-chef {
    width: 100%;
    display: none;
}

.desktop-link-container {
    display: none;
    gap: 1rem;
}

.container.container-selection-offers {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 42px;
}

.box-offers {
    display: flex;
    flex-direction: column;
    max-width: 31rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
}

.img-offers-bbq {
    width: 100%;
}

.container.container-details-title-offers {
    display: flex;
        justify-content: space-between;
}

.container-details-offers a.btn.btn--light-green {
    margin: unset;
}
.container.container-reviews-offers {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
}
.container.container-price-details-offers {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container.container-extra-details-offers {
    font-size: 1.2rem;
}

.container-extra-details-offers ul {
    display: flex
;
    flex-direction: column;
    align-items: flex-start;
}





@media (width > 567px) {
    .container {
        max-width: 54rem;
        padding: 0 1.6rem;
    }

}

@media (width > 768px) {
    .container {
        max-width: 72rem;
        padding: 0 2.4rem;
    }

    .menu-main {
        align-items: center;
        display: flex;
        gap: .5rem;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .hamburger-menu {
        display: none;
    }

    .questions-content {
        display: flex;
        align-items: end;
    }

    .question-1 {
        text-align: unset;
        padding: unset;
    }

    .box-buttons {
        display: flex;
        gap: 1rem;
    }

    .box-buttons .btn--light-green {
        margin: unset;
    }

    .btn-non-block.btn-explore {
        display: flex;
    }

    .container-image {
        box-sizing: border-box;
        margin: 0 auto;
        max-width: 100vw;
        padding: 0;
    }

    .footer-container {
        display: flex;
        gap: 5rem;
    }

    .widget-left {
        flex-basis: 40%;
    }

    .widget-right {
        /*flex-grow:1; */
        /*flex-shrink:0; */
        /*flex-basis: 60%; */
        flex: 1 0 auto;
        /* <FLEX-GROW> <FLEX-sHRINK> <FLEX-BASIS>  (ABREVIADO A UNA SOLA LINEA DE CODIGO) */
    }
}

@media (width > 1024px) {
    h1 {
        font-size: 5.6rem;
    }

    h2 {
        font-size: 4.8rem;
    }

    .container {
        max-width: 99.2rem;
        padding: 0 3.2rem;
    }

    .img-chef {
        display: block;
    }

    h3.container-alain.container-alain-superior {
        display: flex;
        justify-content: space-between;
    }

    /* .container-text {
        text-align: left;
    } */

    .desktop-link-container {
        display: flex;
        gap: 1rem;
    }

    .mobile-link-container {
        display: none;
    }

    .texto {
        display: flex;
        align-items: center;
    }
}

@media (width > 1200px) {
    .container {
        max-width: 114rem;
        padding: 0 4rem;
    }
}

@media (width > 1400px) {
    h1 {
        font-size: 7.2em;
    }

    .container {
        max-width: 132rem;
        padding: 0 4.8rem;
    }
}

@media (width > 1600px) {
    .container {
        max-width: 144rem;
        padding: 0 5.6rem;
    }
}

@media (width > 1920px) {
    .container {
        max-width: 160rem;
        padding: 0 6.4rem;
    }
}